<center>
<h1>Edit</h1>
</center>
<%= render 'form' %>

<%= link_to 'Show', @animal %> |
<%= link_to 'Back', animals_path %>
<button type="button">For Sale</button>
<button type="button">Sold</button>
